* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.logo {
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    padding-left: 20px;

}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

h2 {
    color: #fff;
    margin-top: 12%;
    margin-left: 15%;

}

nav {
    background: #31C4F3;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .main {
    display: flex;
    list-style: none;
}

nav .main li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-transform: lowercase;
    color: #fff;
    font-size: 1rem;
}

nav .main li a:hover {
    color: black;
}

.mainimg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    height: 100vh;
}

h3 {
    font-size: x-large;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3:after {
    display: block;
    background-color: #31C4F3;
    height: 3px;
    content: " ";
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

.about {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

}

.about p {
    font-family: sans-serif;
    word-spacing: 4px;
    font-size: 20px;
    color: #555;
    width: 65%;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 10%;

}

.ad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 50px;
    width: 100%;
}

.ad p {
    font-size: 18px;

    color: #555;
    width: 70%;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20%;
}

h1 {
    color: #31C4F3;
    margin-left: 100px;
}

.disadv p {
    font-size: 18px;
    color: #555;
    width: 70%;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 20%;
}

.easy {
    margin-left: 130px;
}

.music {
    margin-left: 170px;
    color: #31C4F3;
}

.disadv h1 {
    margin-left: 150px;

}

.mis {
    padding-left: 50px;
}

.footer {
    background-color: #31C4F3;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer__social {
    margin-bottom: 20px;
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 15px;
}